@inherits LayoutComponentBase

<div class="flex sm:flex-row relative">
    <div class="sm:w-[250px] sm:h-lvh sm:sticky sm:top-0 bg-gradient-to-b from-blue-950 to-violet-800 dark:from-slate-950 dark:to-slate-500">
        <NavMenu />
    </div>

    <main class="flex-1">
        <div class="sm:pl-8 sm:pr-6 sm:sticky sm:top-0 sm:z-1 bg-[#f7f7f7] dark:bg-slate-800 border-solid border-b dark:border-slate-800 h-14 justify-end flex items-center first:overflow-hidden first:text-ellipsis">
            <a class="ml-6 whitespace-nowrap no-underline text-[#006bb7] dark:text-blue-500" href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
            <button class="ml-6" onclick="toggleDarkMode();">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="h-6 w-6">
                    <path d="M12 2.25a.75.75 0 0 1 .75.75v2.25a.75.75 0 0 1-1.5 0V3a.75.75 0 0 1 .75-.75ZM7.5 12a4.5 4.5 0 1 1 9 0 4.5 4.5 0 0 1-9 0ZM18.894 6.166a.75.75 0 0 0-1.06-1.06l-1.591 1.59a.75.75 0 1 0 1.06 1.061l1.591-1.59ZM21.75 12a.75.75 0 0 1-.75.75h-2.25a.75.75 0 0 1 0-1.5H21a.75.75 0 0 1 .75.75ZM17.834 18.894a.75.75 0 0 0 1.06-1.06l-1.59-1.591a.75.75 0 1 0-1.061 1.06l1.59 1.591ZM12 18a.75.75 0 0 1 .75.75V21a.75.75 0 0 1-1.5 0v-2.25A.75.75 0 0 1 12 18ZM7.758 17.303a.75.75 0 0 0-1.061-1.06l-1.591 1.59a.75.75 0 0 0 1.06 1.061l1.591-1.59ZM6 12a.75.75 0 0 1-.75.75H3a.75.75 0 0 1 0-1.5h2.25A.75.75 0 0 1 6 12ZM6.697 7.757a.75.75 0 0 0 1.06-1.06l-1.59-1.591a.75.75 0 0 0-1.061 1.06l1.59 1.591Z" />
                </svg>
            </button>
        </div>

        <article class="pl-8 pr-6 pt-4">
            @Body
        </article>
    </main>
</div>

<div class="hidden">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
